/*<aside class="barraLateral">
<ul>
  <li><a href="#">German</a></li>
  <li><a href="#">Estonian</a></li>
  <li><a href="#">Italian</a></li>
  <li><a href="#">Spanish</a></li>
  <li><a href="#">More Languages</a></li>
</ul>
</aside>*/

.barraLateral{
   
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a{
        text-decoration: none;
        font-family: "Marvel", sans-serif;
        font-size: 1.3rem;
    }
}