
@use '_header-nav.scss';
@use '_navLateral.scss';


*{
    padding: 0;
    margin: 0;
}
h1{
    font-family: "Marvel", sans-serif;
    font-size: 3rem; 
    text-shadow: 2px 2px 5px rgba(116, 115, 115, 0.849);
    text-align: center;
    margin: 3rem;
    }
h2{
        font-family: "Marvel", sans-serif;
        font-size: 2rem; 
        margin-bottom: 1rem;
    }

.mainContainer{
    display: flex;
    flex-direction: row;
    h3{
        font-family: "Marvel", sans-serif;
        font-size: 1.5rem;
        margin: 0;
    }
    p{
        text-align: justify;
    }

}

